a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  background: transparent;
  z-index: 0;
}

#root {
  background: transparent;
}
